<body>
  <div class="title">
  <h1>Books</h1>
  </div>
  <div class="table">
    <div class="table-item">
      <p>Title</p>
      <p>Body</p>
      <p></p>
    </div>
    <div class="table-element">
      <p>a</p>
      <p>a</p>
      <%= link_to 'Show','/books' %>
      <%= link_to 'Edit','/books' %>
      <%= link_to 'Destroy','/books' %>
      <%= @books.each do |book| %>
      <span><%= book.title %></span>
      <span><%= book.body %></span>
      <%= link_to 'Show','/books' %>
      <%= link_to 'Edit','/books' %>
      <%= link_to 'Destroy','/books' %>
      <% end %>
    </div>
  </div>
  <div class="post-form">
    <div class="post-form-title">
      <h3>New book</h3>
    <div class="post-form-field">
      <%= form_with model: @book, local:true do |f| %>
      <h4>Title</h4>
      <%= f.text_field :title %>
      <h4>Body</h4>
      <%= f.text_area :body %>
      <%= f.submit 'Creat Book' %>
      <% end %>
    </div>
    </div>
  </div>
</body>