<body>
  <h1>Books</h1>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Body</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <%= @books.each do |f| %>
      <tr><%= f.title %></tr>
      <tr><%= f.body %></tr>
      <tr><%= link_to 'Show' %></tr>
      <tr><%= link_to 'Edit' %></tr>
      <tr><%= link_to 'Destory' %></tr>
    </tbody>
  </table>
  <h3>New book</h3>
  <div class="form">

  </div>
</body>